{% extends 'layout/base.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<section class="banniere">
    <h1 class="banniere__titre">Explorez l’élégance de la philatélie à l’ère numérique</h1>
    <h3 class="banniere__sous-titre">
        Découvrez les trésors philatéliques du monde entier dans un
        environnement raffiné conçu pour les passionnés.
    </h3>
    <div class="banniere__cartes">
        <article><h4><a href="#">Découvrez le catalogue</a></h4></article>
        <article><h4><a href="#">Voir les timbres vedettes</a></h4></article>
    </div>
</section>
{% endblock %}