{% extends "layout/base.twig" %}
{% block content %}
<h1>Email envoyé</h1>
<p>Un e-mail contenant le lien de réinitialisation a été envoyé à votre adresse. Veuillez vérifier votre boîte de réception.</p>
{% endblock %}