{% extends "layout/base.twig" %}
{% block content %}
<h1>Réinitialisation du mot de passe</h1>
<form action="/utilisateur/update_password" method="POST">
    <input type="hidden" name="token" value="{{ token }}">
    <label for="password">Nouveau mot de passe :</label>
    <input type="password" name="password" id="password" required>
    <button type="submit">Mettre à jour le mot de passe</button>
</form>
{% endblock %}