.banniere {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--couleur-marque);
  padding: var(--espacement-t-tresGrand);
  text-align: center;
  gap: var(--espacement-moyen); 
}

.banniere h2 {
  border-bottom: 2px solid var(--couleur-police-noire);
}