.carte-produit {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--couleur-claire);
  border: 2px solid var(--couleur-police-blanche);
  border-radius: var(--espacement-tout-petit);
  padding: var(--espacement-moyen);
  gap: var(--espacement-moyen);
  box-sizing: border-box;
  overflow: hidden;
  transition:
    transform 0.2s ease,
    box-shadow 0.3s ease;
}

.carte-produit__image-container {
  position: relative;
  width: 100%;
  margin-bottom: var(--espacement-moyen);
}

.carte-produit__image {
  min-width: 100%;
  height: auto;
  object-fit: cover;
}

.carte-produit__favori {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--couleur-accent);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.carte-produit__favori:hover {
  transform: scale(1.2);
}

.carte-produit__titre {
  font-family: var(--typo-titre);
  font-size: 1.5rem;
  max-width: 30ch;
  padding: 0;
}

.carte-produit__texte {
  font-family: var(--typo-corps);
  font-size: 1.1rem;
}

.carte-produit:hover {
  transform: scale(1.005);
  border: 1px solid var(--couleur-sombre);
}

.carte-produit__bouton {
  letter-spacing: 1.5px;
  display: inline-block;
  background-color: var(--couleur-sombre);
  color: var(--couleur-police-blanche);
  padding: var(--espacement-petit);
  border-radius: var(--espacement-tres-petit);
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-top: auto;
  align-self: center;
}

.carte-produit__bouton:hover {
  background-color: var(--couleur-marque);
}

@media (max-width: 875px) {
  .carte-produit {
    padding: var(--espacement-petit);
    font-size: 0.9rem;
  }

  .carte-produit__titre {
    font-size: 1.2rem;
  }

  .carte-produit__texte {
    font-size: 1rem;
    padding: 0;
  }

  .carte-produit img {
    max-width: 100%;
    height: auto;
  }
}
