.produit {
  padding: var(--espacement-moyen);
  gap: var(--espacement-moyen);
  color: var(--couleur-police-blanche);
  background-color: var(--couleur-sombre);
}

.produit__conteneur {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  border: 4px solid var(--couleur-marque);
  border-radius: 5px;
  padding: 10px;
}

.produit__galerie {
  display: flex;
  flex-direction: column;
  gap: var(--espacement-moyen);
}

.produit__galerie-miniatures {
  display: flex;
  flex-direction: column;
  gap: var(--espacement-tres-petit);
  cursor: pointer;
  justify-content: center;
}

.produit__galerie-miniatures img {
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
  border: 1px solid var(--couleur-marque);
  border-radius: var(--espacement-tout-petit);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.produit__galerie-miniatures img:hover {
  transform: scale(1.1);
}

.produit__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--espacement-moyen);
}

.produit__image img {
  max-width: 400px;
  border-radius: var(--espacement-tres-petit);
  transition: transform 0.3s ease-in-out;
}

.produit__image:hover img {
  transform: scale(1.05);
}

.produit__description {
  margin-bottom: var(--espacement-moyen);
  line-height: 1.6;
  font-family: var(--typo-corps);
}

.produit__description p,
.produit__action p {
  margin: var(--espacement-petit);
  font-size: 1em;
  text-align: justify;
}

.produit__details {
  flex-grow: 1;
  width: 100%;
  max-width: 800px;
  padding: var(--espacement-grand);
  font-size: var(--taille-courante);
}

.produit__details h2 {
  font-size: 1.5rem;
  border-bottom: 1.5px solid var(--couleur-marque);
  font-family: var(--typo-titre);
}

.produit__titre,
.produit__categorie,
.produit__prix,
.produit__etat,
.produit__origine {
  margin-bottom: var(--espacement-petit);
}

.produit__action {
  width: 100%;
  padding: var(--espacement-petit);
  margin-top: var(--espacement-moyen);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--espacement-petit);
  font-size: var(--taille-courante) ;
}

.produit__action-offre {
  display: flex;
  gap: 10px;
  width: 100%;
}

.produit__action-offre input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--couleur-marque);
  border-radius: var(--espacement-petit);
}

.produit__boutons {
  display: flex;
  gap: var(--espacement-grand);
}


@media (max-width: 980px) {
  .produit {
    flex-direction: column;
    align-items: center;
  }
  .produit__conteneur {
    display: flex;
    flex-wrap: wrap;
  }

  .produit__image,
  .produit__action {
    width: 48%;
    margin: 0;
  }

  .produit__image img {
    max-width: 90%;
  }

  .produit__action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: var(--espacement-petit);
    width: 100%;
    max-width: 700px;
  }

  .produit__details {
    width: 100%;
    padding: var(--espacement-moyen);
    color: var(--couleur-police-blanche);
  }

  .produit__description {
    margin: var(--espacement-moyen) 0;
  }

  .produit__image + .produit__action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .produit__conteneur {
    flex-direction: column;
    align-items: center;
  }

  .produit {
    flex-direction: column;
    gap: var(--espacement-moyen);
  }

  .produit__details {
    max-width: 90%;
  }

  .produit__image img {
    max-width: 300px;
  }

  .produit__galerie-miniatures {
    flex-direction: row;
    gap: var(--espacement-moyen);
  }

  .produit__galerie-miniatures img {
    width: 100px;
  }
}

@media (max-width: 480px) {
  .produit__conteneur {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .produit__action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: var(--espacement-petit);
    width: 100%;
    max-width: 400px;
  }

  .produit__galerie-miniatures img {
    width: 60px;
  }

  .produit__image img {
    max-width: 100%;
  }
}
