.bouton {
  display: inline-block;
  background-color: var(--couleur-marque);
  color: var(--couleur-police-blanche);
  font-family: var(--typo-titre);
  font-size: var(--taille-courante);
  border: none;
  border-radius: var(--espacement-tout-petit);
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  font-size: var(--taille-moyenne);
  padding: var(--espacement-petit);

  transition: background-color 0.3s ease;
}

.bouton:hover {
  background-color: var(--couleur-sombre-accent);
}

.bouton__miser {
  background-color: var(--couleur-sombre-accent);
  color: var(--couleur-police-blanche);
  font-size: 1.5rem;
  padding: 20px;
  border-radius: 4px;
}

.bouton__miser:hover,
.produit__bouton-voirPlus:hover {
  background-color: var(--couleur-marque);
  transform: translateY(3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.bouton-navigation:hover {
  background-color: var(--couleur-sombre-accent);
}

.bouton-lien {
  font-size: var(--taille-texte-bouton);
}

.bouton-filtres {
  display: none;
}

@media (max-width: 880px) {
  .bouton-filtres {
    display: flex;
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: var(--couleur-marque);
    color: var(--couleur-police-blanche);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001;
  }
}

@media (max-width: 768px) {
  .bouton-filtres i {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .bouton {
    font-size: 8px;
    padding: 4px;
  }
}
