.menu-toggle {
  display: none;
}

.toggle-filters {
  display: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: none;
    color: var(--couleur-police-blanche);
    border: none;
    padding: var(--espacement-petit);
    font-size: var(--taille-grande);
    cursor: pointer;
    margin: var(--espacement-moyen);
  }
}
