.pied-page {
  background-color: var(--couleur-claire);
  padding: var(--espacement-grand);
  color: var(--couleur-police-noire);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pied-page__navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.pied-page__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--espacement-moyen);
}

.pied-page__logo-image {
  max-width: 100px;
}

.pied-page__recherche-bouton {
  background-color: var(--couleur-marque);
  color: var(--couleur-police-blanche);
  border: none;
  padding: var(--espacement-tres-petit) var(--espacement-petit);
  border-radius: 0 var(--rayon-bord) var(--rayon-bord) 0;
  cursor: pointer;
}

.pied-page__section {
  display: flex;
  flex-direction: column;
}

.pied-page__titre {
  font-family: var(--typo-titre);
  font-size: var(--taille-titre-pied-page);
  margin-bottom: var(--espacement-petit);
}

.pied-page__liste {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pied-page__item {
  margin-bottom: var(--espacement-tres-petit);
}

.pied-page__item a {
  font-family: var(--typo-corps);
  font-size: var(--taille-courante);
  color: var(--couleur-police-noire);
  text-decoration: none;
  transition: color 0.3s;
}

.pied-page__item a:hover {
  color: var(--couleur-sombre);
  text-decoration: underline;
}

.pied-page__action {
  gap: var(--espacement-moyen);
  margin-top: var(--espacement-petit);
  padding: var(--espacement-tres-petit) var(--espacement-petit);
  border: none;
  cursor: pointer;
  border-radius: var(--rayon-bord);
  transition: background-color 0.3s;
}

.pied-page__bouton:hover {
  background-color: var(--couleur-claire);
}

.pied-page__recherche {
  display: flex;
  margin-top: var(--espacement-petit);
  width: 100%;
  max-width: 300px;
}

.pied-page__recherche-input {
  padding: var(--espacement-tres-petit);
  border: 1px solid var(--couleur-marque);
  border-radius: var(--rayon-bord) 0 0 var(--rayon-bord);
}

.pied-page__infos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-top: var(--espacement-grand);
  border-top: 1px solid #666;
  padding-top: var(--espacement-petit);
}

.pied-page__section--droite,
.pied-page__section--gauche {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.pied-page__section--droite {
  border-right: 1px solid black;
}

.pied-page__section--gauche {
  border-left: 1px solid black;
}

@media (max-width: 880px) {
  .pied-page__navigation {
    flex-direction: column;
    align-items: center;
    margin: var(--espacement-tres-petit);
    padding: var(--espacement-tres-petit);
  }

  .pied-page__section,
  .pied-page__logo-image {
    margin: var(--espacement-petit);
    border-left: none;
    border-right: none;
  }

  .pied-page__section--gauche {
    border-top: 1px solid black;
  }

  .pied-page__section--droite {
    border-bottom: 1px solid black;
  }
}

@media (max-width: 650px) {
  .pied-page__infos {
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .pied-page__navigation {
    flex-direction: column;
    gap: 5px;
    padding: 10px;
  }

  .pied-page__infos {
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
