.contenu__grille {
  display: grid;
  grid-template-columns: minmax(300px, auto) 1fr;
  gap: var(--espacement-grand);

  margin: var(--espacement-grand) auto;
  height: 100%;
}

@media (max-width: 875px) {
  .contenu__grille {
    display: block;
    gap: var(--espacement-moyen);
  }
}

@media (max-width: 768px) {
  .contenu__grille {
    display: block;
  }
}
