@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400");

:root {
  --espacement-tout-petit: 2px;
  --espacement-tres-petit: 5px;
  --espacement-petit: 10px;
  --espacement-moyen: 15px;
  --espacement-grand: 20px;
  --espacement-tresGrand: 30px;
  --espacement-t-tresGrand: 50px;
  --espacement-gigaGrande: 250px;

  --colonne: 20ch;
  --gouttiere: 20px;

  --taille-t-petit: 10px;
  --taille-petite: 12px;
  --taille-moyenne: 15px;
  --taille-courante: 20px;
  --taille-grande: 25px;
  --taille-tres-grande: 30px;
  --taille-t-Grande: 35px;

  --typo-titre: "Old+Standard+TT", serif;
  --typo-corps: "Quattrocento", serif;

  --couleur-claire: #f2efe9;
  --couleur-clair-accent: #ddd1c7;
  --couleur-marque: #926938;
  --couleur-sombre: #121c28;
  --couleur-sombre-accent: #593959;
  --couleur-police-noire: #0a0a0a;
  --couleur-police-blanche: #ffffff;
  --couleur-grise: #d3d3d3;
}

h1 {
  font-size: 2rem;
  padding: var(--espacement-tresGrand);
}

h2 {
  margin-bottom: var(--espacement-petit);
  padding: var(--espacement-moyen);
}

p {
  font-size: var(--taille-courante);
  margin-bottom: var(--espacement-grand);
}
